.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20em;
  height: 100%;
  box-shadow: 2px 2px 50px gray;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.slideIn {
  animation-name: slideInFromLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideOut {
  animation-name: slideOutFromLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    display: block;
  }
}

@keyframes slideOutFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 5px;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

  img {
    width: 20%;
  }

  .info {
    text-align: left;
    padding: 5px;
  }

  .name {
    font-size: 1.2em;
    text-decoration: underline;
  }
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}
