.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.time-control {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  p {
    padding: 1em;
  }
}

.play-control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  width: 80%;
  cursor: pointer;

  .play {
    margin-left: 40%;
    margin-right: 40%;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .skip-back,
  .skip-forward {
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .time-control {
    width: 50%;
  }
  .play-control {
    width: 50%;
  }
}
